<div class="col col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Places List</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center"><input ng-model="search.name"> <br>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>Street</th>
                    <th>Building Number</th>
                    <!--<th> Present</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="place in places | filter:search.name">

                    <td>{{place.name}}</td>
                    <td>{{place.city}}</td>
                    <td>{{place.phone}}</td>
                    <td>{{place.street}}</td>
                    <td>{{place.buildingNumber}}</td>
                    <td><button ng-click="removeItem(place)">Remove</button></td>
                    <td><button ng-click="updateMode(place)">Update</button></td>
                    <!--<td ng-show="presentColumnVisibility"><input type="checkbox" ng-model="person.Present"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>